// font size
$baseFontSize: 16px;

// font family

$latoFont: 'Lato', sans-serif;
$redHatDisplayFont: 'Red Hat Display', sans-serif;

// COLORS
$whiteColor: #fff;
$blackColor: #000;
$textColor: #565656;
$footerColor: #F4F4F4;
